<%= form.label :login %><br />
<%= form.text_field :login, :readonly => (not form.object.new_record?) %><br />
<br />
<%= form.label :password, form.object.new_record? ? nil : t('.change_password') %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />
<br />
<%= form.label :first_name %><br />
<%= form.text_field :first_name %><br />
<br />
<%= form.label :last_name %><br />
<%= form.text_field :last_name %><br />
<br />
<%= form.label :email %><br />
<%= form.text_field :email %><br />
<br />
<p>
  <%= form.label :email_notification_enabled, t('.notify_by_email') %>
  <%= form.check_box :email_notification_enabled %>
</p>
<% if current_user_is_admin? %>
  <%= form.label :user_groups %><br />
  <%= form.collection_select :user_group_ids, UserGroup.all(:conditions => ['name != ?', 'Administrators']), :id, :name, {}, {:multiple => true} %><br />
  <br />
<% end %>
