<% if @user == current_user %>
  <h2><%= t '.edit_my_account' %></h2>
<% else %>
  <h2><%= t '.edit_users_account', :name => @user.login %></h2>
<% end %>

<% form_for @user, :url => user_path(@user) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit t('.update_button') %>
<% end %>

<br /><%= link_to t('.my_profile_link'), user_path(@user) %>
