<% if @user == current_user %>
  <h2>Edit My Account</h2>
<% else %>
  <h2>Edit <%= @user.login %> Account</h2>
<% end %>

<% form_for @user, :url => user_path(@user) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", user_path(@user) %>
