<h2><%= t '.settings' %></h2>

<% form_for @setting, :url => settings_path do |f| %>
  <%= f.error_messages %>

  <p>
    <% if @setting.system_locked %>
      <%= t('.system_locked') %> <%= link_to t('.click_to_unlock'), :action => :unlock_system %>
    <% else %>
      <%= t('.system_unlocked') %> <%= link_to t('.click_to_lock'), :action => :lock_system %>
    <% end %>
  </p>
  <p>
    <%= f.label :automatic_locking, t('.automatic_system_locking') %><br />
    <%= f.check_box :automatic_locking %>
  </p>
  <p>
    <%= f.label :automatic_locking_time, t('.lock_system_daily_at') %><br />
    <%= f.time_select :automatic_locking_time %>
  </p>
  <p>
    <%= f.label :lunch_refunding %><br />
    <%= f.check_box :lunch_refunding %>
  </p>
  <p>
    <%= f.label :refunded_lunches_per_day %><br />
    <%= f.text_field :refunded_lunches_per_day %>
  </p>
  <p>
    <%= f.label :money_refunded_per_lunch %><br />
    <%= f.text_field :money_refunded_per_lunch %>
  </p>
  <p>
    <%= f.submit t('.save_button') %>
  </p>
<% end %>
