<% unless orders.empty? %>
  <p><b>Total:</b> <%= pluralize orders.values.inject { |res,val| res + val }.size, "order" %></p>
  <% orders.each_key do |vendor| %>
    <p><%= vendor %> - <%= pluralize orders[vendor].size, "order" %>:
      <ul>
        <% orders[vendor].each do |o| %>
          <li><%= o.lunch.name %> - <%= o.user.full_name %></li>
        <% end %>
      </ul>
    </p>
    <br />
  <% end %>
<% end %>
