<tr>
  <td align="center"><%= order.lunch.vendor %></td>
  <td align="center"><%= order.lunch.name %></td>
  <td><%= order.lunch.description %></td>
  <td>
    <%= to_currency order.total %>
  </td>
  <% if order.complete %>
    <td>
      <%= t('.complete') %>
    </td>
  <% else %>
    <td>
      <%= t('.new') %>
    </td>
    <td>
      <%= link_to t('.cancel_order'), order_path(order), :method => :delete %>
    </td>
  <% end %>
</tr>
