<h2><%= t '.orders_for_span_date', :date => @date %></h2>

<p><%= select_date @date, :start_year => 2010, :end_year => 2020 %></p>

<div id='orders_list'>
  <%= render :partial => 'orders', :object => @orders %>
</div>

<%= observe_field :date_year, :url => { :action => 'find_all_by_date' }, :with => "'year=' + $('date_year').getValue() + '&month=' + $('date_month').getValue() + '&day=' + $('date_day').getValue()" %>
<%= observe_field :date_month, :url => { :action => 'find_all_by_date' }, :with => "'year=' + $('date_year').getValue() + '&month=' + $('date_month').getValue() + '&day=' + $('date_day').getValue()" %>
<%= observe_field :date_day, :url => { :action => 'find_all_by_date' }, :with => "'year=' + $('date_year').getValue() + '&month=' + $('date_month').getValue() + '&day=' + $('date_day').getValue()" %>
