<h2><%= t '.order_lunch' %></h2>
<p><%= select_date @date, :start_year => 2010, :end_year => 2020 %></p>

<p>
  <b><%= t '.current_balance' %>:</b>
  <%=h to_currency current_user.balance %>
</p>

<% form_for @order, orders_path do |f| %>
  <table>
    <thead>
      <tr>
        <td></td>
        <td><b><%= Lunch.human_attribute_name(:vendor_id) %></b></td>
        <td><b><%= t '.id' %></b></td>
        <td><b><%= Lunch.human_attribute_name(:description) %></b></td>
        <td><b><%= Lunch.human_attribute_name(:price) %></b></td>
      </tr>
    </thead>
    <tbody id='lunches_list'>
      <% Lunch.by_date(@date).ordered_by_name.each do |lunch| %>
        <%= render :partial => "lunches/lunch_to_order", :object => lunch %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan=5 id='submit_buttons'>
          <%= f.submit t('order_button') %>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>

<%= observe_field :date_year, :url => { :controller => 'lunches', :action => 'find_by_date' }, :with => "'year=' + $('date_year').getValue() + '&month=' + $('date_month').getValue() + '&day=' + $('date_day').getValue()" %>
<%= observe_field :date_month, :url => { :controller => 'lunches', :action => 'find_by_date' }, :with => "'year=' + $('date_year').getValue() + '&month=' + $('date_month').getValue() + '&day=' + $('date_day').getValue()" %>
<%= observe_field :date_day, :url => { :controller => 'lunches', :action => 'find_by_date' }, :with => "'year=' + $('date_year').getValue() + '&month=' + $('date_month').getValue() + '&day=' + $('date_day').getValue()" %>

<script type="text/javascript">
  function setupOrderButton()
  {
    var disableButton = new Boolean(true);
    for (var i=1; $('order_lunch_id_'+i); i++)
    {
      if ($('order_lunch_id_'+i).disabled == false)
      {
        disableButton=false;
        break;
      }
    }
    $('order_submit').disabled=disableButton;
  }
</script>
